.profile {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.tag {
  color: #777;
  font-size: 16px;
  margin: 0;
}

.location {
  color: #777;
  font-size: 16px;
  margin: 0;
}

.stats {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.label {
  color: rgb(139, 145, 145);
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
  color: #18191a;
}
