.statistics {
  background-color: #fff;
  border: 1px solid #ccc;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 24px;
  margin: 0 0 20px;
  color: rgb(65, 64, 64);
}

.statList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
  color: #fff;
}

.item {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.percentage {
  font-size: 22px;
  color: #fff;
}
